<!DOCTYPE html>
<html>
  <head>
    <title>Hong</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>


  <body id="bodycolor"   onload ="refresh_timer()" >

<div id="naverbox">
    <div id="title"><%= title %></div>
    <div id="time"></div>
    <%
    rank.forEach(function(item,index){
      
  %>
          <div id="name">
              <%= item.name%><br>
          </div>
         
          
  <%});%>
  <br>
</div>
  </body>
  <script>
    var title = document.getElementById('title').value;
    console.log(title);
   var color=document.getElementById('naverbox');
   color.style.backgroundColor="#0c8040;"
   switch(title){
      case 'Naver Rankig' :
        color.style.backgroundColor="#0c8040;"
        break;
      case 'daum':
        color.style.backgroundColor="#3cb4ff;"
        break;
   }
      function refresh_timer(){
        setTimeout(function(){
            location.reload();
          
        },60*1000);
        console.log("시간별 새로고침");
        var date= new Date();
        date=date.getFullYear()+'년 '+((date.getMonth()*1)+1)+'월 '+date.getDate()+'일 '+date.getHours()+'시 '+date.getMinutes()+'분 ';
            var result = document.getElementById("time");
            result.innerHTML=date +"기준";
      };
      </script>
</html>

